<h1>スレッド一覧</h1>
<h2><a href="{% url 'picturalizer:upload' %}">Upload more</a></h2>

{% for image in images %}
<a href="{% url 'picturalizer:thread' image.id %}"">
    <img src='{{ MEDIA_URL }}{{image.picture}}' width=200>
    <h2>{{ image.title }}</h2>
</a>


{% endfor %}

<!--ページネーション処理-->
{% if is_paginated %}
<div class="row justify-content-between align-items-center mb-4">
  <div class="col-lg">
    <nav aria-label="Bootstrap Pagination Example">
      <ul class="pagination mb-0">
        <!--前ページへのリンク-->
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <span class="mr-1 d-none d-sm-inline-block">&larr;</span> Previous
          </a>
        </li>
        {% endif %}

        <!--ページ数表示-->
        {% for page_num in page_obj.paginator.page_range %}
          {% if page_obj.number == page_num %}
            <li class="page-item active">
              <a class="page-link" href="#">{{ page_num }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        <!--次ページへのリンク-->
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              Next<span class="ml-1 d-none d-sm-inline-block">&rarr;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
